$pink : #ffedf0, #ffd2d7, #f4a2a3, #ed7e7f, #f9615e, #fe5245, #f14b45, #de413e;
$gray: #fbfbfb, #e5e5e5, #d4d4d4, #b0b0b0, #8f8f8f, #686868, #545454, #363636 !global;

// .dark {
// 	$gray: #000000, #000000, #000000,  #000000, #000000, #000000,#000000, #000000, #000000 !global;
// }

// .light {
// 	$text: #545454 !global;
// 	$pageBg: #fbfbfb !global;
// 	$tabBg: #ffffff !global;
// 	$lightShadow: #ffffff !global;
// 	$shadow: #8f8f8f !global;
// 	$darkShadow: #000000 !global;
// }



$timeC : .4s; 
$timeB : .2s;
$timeA : .1s;
$timeL : 0.6s;

:root{
	--tc: #ffffff;
	--flc: #ffffff;
	--idc: #ffffff;
	
	--text: #545454;
	--text2: #545454 ;
	--pageBg: #fbfbfb;
	--tabBg: #ffffff;
	--lightShadow: #ffffff;
	--shadow: #8f8f8f;
	--darkShadow: #000000;
	
	--im:0;
	--cg:0;
	--ml:0;
	--sm:0;
	--sc:0;
}
$tc: var(--tc);
$flc: var(--flc);
$idc: var(--idc);

$text: var(--text);
$text2: var(--text2);
$pageBg: var(--pageBg);
$tabBg:  var(--tabBg);
$lightShadow: var(--lightShadow);
$shadow: var(--shadow);
$darkShadow: var(--darkShadow);

$im: var(--im);
$cg: var(--cg);
$ml: var(--ml);
$sm: var(--sm);
$sc: var(--sc);

*{
	overscroll-behavior:contain;
	-ms-overflow-sytle: none;
}
::-webkit-scrollbar {
	display:none;
}

body {
	background: $pageBg;
}

.App.off {
	*{
	 -o-transition-property: none !important; -moz-transition-property: none !important; -ms-transition-property: none !important; -webkit-transition-property: none !important; transition-property: none !important;-webkit-animation: none !important; -moz-animation: none !important; -o-animation: none !important; -ms-animation: none !important; animation: none !important;}
}

.alignCenter{
	display:flex;
	align-items: center;
	justify-content: center;
}

.popup.inactive{
	transform: translateY(-100px);
	transition: transform $timeC;
}
.popup {
	z-index:5;
	position: relative;
	transition: transform $timeC;
	
	.userImgArea{
		position: fixed;
	
		top:15px;
		right:15px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		
		background: nth($gray, 1);
		border: solid nth($gray, 3) 1px;
		box-shadow: 0 5px 5px 0 $shadow;
		
		.iconArea {
			height:100%;
		}
	}
	
	.detailsArea.inactive {
		height:0;
		transition: height $timeB;
	}
	.detailsArea{
		transition: height $timeB;
		position: fixed;
		top:70px;
		right:15px;
		width: 220px;
		height: 260px;
		border-radius: 13px;
		background: white;
		box-shadow: inset 0 0 0 2px $shadow;
		padding: 0px 10px;
		
		overflow:hidden;
		
		display: grid;
		grid-template-columns:1fr 5fr;
		grid-template-rows: 80px auto;
		
		.loginArea {
			grid-column: 1 / span 2;
		}
	}
	
	.bg.inactive {
		
		display: relative;
		opacity: 0%;
		transition: opacity $timeB, max-height 0s $timeB;
		max-height: 0px;
		
	}
	.bg {
		z-index: -1;
		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000000;
		
		position: fixed;
		opacity:70%;
		transition: opacity $timeC, max-height 0s;

		max-height: 100%;
	}
}

.nav {
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: -36px;
	
	.menu {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr;
		transition: transform $timeC;
		height:100%;
		.tab {
			position:relative;

			// border: 2px solid #c4c4c4;
			border-radius: 12px 12px 0 0;
			border-bottom-style: none;
			height:100%;
			text-align: center;
			font-size: 0.9rem;
			font-weight:400;

			padding:5px;
			
			background: $tabBg;

			box-shadow: 0px -7px 10px -6px $shadow;

			transition: transform $timeA;

			.label {
				position:relative;
				top: -8px;
				color: $text;
			}
		}
		.tab.active {
			transform: translateY(-6px);
			transition: transform $timeA;
		}

		.music{
			grid-column: 1 / span 1;
		}
		.playlist{
			grid-column: 2 / span 1;
		}
		.search{
			grid-column: 3 / span 1;
		}
		.setting{
			grid-column: 4 / span 1;
		}
	}
	.menu.inactive {
		transform: translateY(85px);
		transition: transform $timeC;
	}
	
	.coverImg {
		&.init{
			transform:translateY(150px);
		}
		position: fixed;
		z-index: -1;
		width: 120px;
		height: 120px;
		margin-left:-60px;
		border-radius: 50%;
		background: #e5e5e5;
		left: 50%;
		bottom: 15px;
		transition: transform $timeC, left $timeC, bottom $timeC;
		overflow: hidden;

		border: 5px solid #ffffff;
		box-shadow: 0 0 5px -1px $shadow;

		display:flex;
		align-items: center;
		justify-content: center;
		.dot {
			position:absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $pageBg;
			box-shadow: inset 0 0 5px -1px $shadow, 0 0 0px 3px #ffffff;
			display:flex;
			align-items: center;
			justify-content: center;
		}
		img{
			max-width: 100%;
			max-height: auto;
		}
	}
	.coverImg.active {
			position: fixed;
			
			left: 34px;
			bottom: -26px;
			transform: scale(0.4) rotate(-360deg);
			transition: transform $timeC, left $timeC, bottom $timeC;
	}
	
	.playlistModal {
		&.inactive {
			opacity: 0%;
			transition: opacity $timeC, max-height 0s $timeC;
			max-height: 0px;
			.modalArea{
				max-height:0;
				transition: max-height 0s $timeC;
			}
		}
		z-index:10;	
		position:fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: opacity $timeC, max-height 0s;
		max-height: 100vh;
		
		.modalArea {
			position: relative;
			z-index:1;
			width:275px;
			max-height:170px;
			height:400px;
			top:0;
			left:0;
			color:white;
			overflow:hidden;
			background-color: rgba(0, 0, 0, 0.7);
			border-radius:20px;
			&.change, &.add {
				max-height:400px;
				overflow:scroll;
				transition: max-height $timeB 0.1s;
			}
			.first{
				&.inactive{
					transform:translateX(-275px);
					transition: transform $timeC;
				}
				transition: transform $timeC 0.3s;
				position: absolute;
				height:100%;
				width:100%;
				flex-direction: column;
				justify-content: space-evenly;
				font-weight: 500;
			}
			.second{
				&.inactive{
					transform:translateX(275px);
					transition: transform $timeC;
				}	
				.active {
					display: block;
					display: flex;
					flex-direction: column;
					gap:5px;
				}
				.inactive {
					display: none;
				}
				transition: transform $timeC;
				position: absolute;
				flex-direction: column;
				gap:10px;
				height:100%;
				width:100%;
				padding: 15px;
				.add{
					width:100%;
				}
				.playlist{
					height:30px;
					border-bottom: solid nth($gray, 8) 1px;
					width:100%;
					padding: 0 5px 0 5px;
					
					display: grid;
					grid-template-columns: 1fr 60px;
					
					.title {
						overflow: hidden;
						float:left;	
					}
					.songCnt {
						float: right;
						text-align: right;
					}
					span{	
						display:block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					
				}
				
			}	
		}
		
		
		
		.bg {
			&.inactive {
				opacity: 0%;
				transition: opacity $timeC, max-height 0s $timeC;
				max-height: 0px;
			}
			position:fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #000000;
			opacity:40%;
			transition: opacity $timeC, max-height 0s;
			max-height: 100%;
		}
	}

	
	
	.playerPage.active {
		opacity: 1;
		max-height: 100vh;
		transform: translateY(0px);
		transition: opacity $timeC, transform $timeC, max-height 0s;
	}	
	
	.playerPage {
		position: fixed;
		z-index: -2;
		width:100%;
		height:100%;
		bottom:0;
		left:0;
		background: #202020;
		background-size: cover;
		max-height: 0;
		opacity: 0;
		transform: translateY(200px);
		transition: opacity $timeC, transform $timeC, max-height 0s $timeC;	
		
		display: flex;		
		flex-direction: column;
		.infoArea {
			&.inactive{
				//transform: translateY(-100px);
				height:0px;
				transition: height $timeB;
			}
			.alert {
				color:#cccccc;
			}
			overflow:hidden;
			transition: height $timeB;
			z-index: 1;
			background: inherit;
			width:100%;
			height:85px;
			padding: 0 10px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			box-shadow: 0 0 20px 0px black;
			border-radius: 0 0 20px 20px;
			
			.idolImgArea.active{
				box-shadow: 0 0 10px 3px $idc;
				transition: box-shadow $timeA;
				.shadow {
					box-shadow:none;
					transition: box-shadow $timeA;
				}
				img{
					opacity: 100%;
					transition: opacity $timeA;
				}
			}
			.idolImgArea {
				flex:0 0 65px;
				height:65px;
				border-radius: 50%;
				overflow:hidden;
				transition: box-shadow $timeC;
				.shadow {
					height:100%;
					border-radius: 50%;
					box-shadow: inset 0 0 10px 2px #111111;			
					transition: box-shadow $timeC;	
				}
				img{
					opacity: 50%;
					transition: opacity $timeC;
					position: relative;
					z-index: -1;
					max-width: 100%;
					height: auto;
				}
			}
		}
		
		.callGuideArea {
			flex:1;	
			height:50%;
			position: relative;
			
			.closeIconArea {
				position:absolute;
				top:15px;
				right:15px;
				z-index:10;
			}
			.pageChangeIconArea {
				position:absolute;
				bottom:75px;
				right:15px;
			}
			
			.lyricArea.inactive {
				transform: translateX(-100vw);
				transition: transform $timeB;
			}
			.lyricArea {
				position:absolute;
				transition: transform $timeB;
				height:100%;
				width:100%;
				color: nth($gray, 1);
				.iconsArea {
					.scrollLockIconArea {
						position:absolute;
						bottom:75px;
						left:15px;
					}
					.checkBoxesArea {
						position: absolute;
						top:10px;
						left:10px;
						width:100px;
						height:90px;

						display: grid;
						grid-template-columns:25px 1fr;
						grid-template-rows: 25px 25px 25px;
						
						.label{
							display: inline-flex;
							align-items: center;
							color: nth($gray,4);
							font-size:0.7rem;
							font-weight:400;
							position: relative;
							top:-0.7px;
							//justify-content: center;
						}
					}
				}
				.text{		
					height:100%;
					overflow: auto;		
					width:100%;
					padding: 60px 20px 120px 20px;
					font-size: 1.0rem;
					text-align: center;
					//line-height: 140%;
					.block {
						margin: 25px 0px;
						display: flex;
						flex-direction: column;
						.lyricMeanLine {
							&.active {
								transition: opacity $timeC;
								opacity:100%;
							}
							&.disable{
								font-size:0rem;
								transition: font-size $timeC, margin-bottom $timeC; 
							}
							&.moveTop{
								margin-bottom:0px;	
								transition: font-size $timeC, margin-bottom $timeC; 
							}
							transition: font-size $timeC, margin-bottom $timeC, opacity $timeL; 
							font-size: 0.6rem;
							opacity:40%;
							font-style: italic;
							font-weight:300;
							margin-bottom:-4px;
						}
						.lyricLexLine {
							&.disable{
								font-size:0rem;
								transition: font-size $timeC;
							}
							transition: font-size $timeC;
							margin-bottom:-5px;
							.lyricLex{
								&.active {
									transition: opacity 0s, text-shadow 0s;
									opacity:100%;
									text-shadow: 0 0 2px $flc;
									transition: -webkit-text-stroke $timeL;	
								}
								font-weight: 400;
								transition: opacity $timeL, text-shadow $timeL;	
								opacity:40%;
							}
						}
						.callLexLine {
							&.disable{
								font-size:0rem;
								transition: font-size $timeC;
							}
							transition: font-size $timeC;
							font-size: 1.4rem;
							font-weight: 900; 
							.call{
								&.active {
									transition: opacity 0s, text-shadow 0s;
									opacity:100%;
									-webkit-text-stroke: 0.7px $flc;
									text-shadow: 0 0 4px $flc;
									transition: -webkit-text-stroke 0;	
								}
								transition: opacity $timeL, text-shadow $timeL;	
								opacity:40%;
							}
						}
						
					}
				}				
			}

			.playlistArea.inactive {
				transform: translateX(100vw);
				transition: transform $timeB;
			}
			.playlistArea {
				transition: transform $timeB;
				height:100%;
				overflow: auto;		
				width:100%;
				overflow: auto;		
				color: white;
				padding: 40px 24px 100px 24px;
				line-height: 200%;
				width:100%;
				.iconsArea {
					.shuffleIconArea {
						position:absolute;
						bottom:75px;
						left:15px;
					}
					.repeatIconArea {
						position:absolute;
						bottom:75px;
						left:60px;
					}
				}
			
				
				.labelArea {					
					display:flex;
					align-items: center;

					font-size:2rem;
					font-weight: 700;
					color: nth($gray, 1);
					margin-bottom: 40px;
					// border: solid red;
					.saveIconArea {
						display: inline;
						margin-left: 16px;
					}
				}
				
				.songsArea {
					width:97%;
					overflow: auto;
					margin: 0 auto;
					
					.songArea {
						&.active {
							background: nth($gray, 8);
						}
						text-align: center;
						
						width:100%;
						height:60px;
						border-radius:7px;
						overflow: hidden;
						margin-bottom:7px;
						padding: 0 9px 0 5px;
						
						display: grid;
						grid-template-columns: 60px 3.5fr 60px;
						column-gap: 7px;
						
						.coverArea {
							grid-column: 1 / span 1;
							display: flex;
							align-items: center;
							justify-content: center;
							.cover {
								height: 52px;
								width: 52px;
								border-radius: 2px;
								overflow: hidden;
								box-shadow: inset 0 0 5px -1px $shadow;
								img{
									z-index: -1;
									max-width: 100%;
									height: auto;
								}
							}
						}
						.titleArea {
							display:flex;
							align-items: center;
							width:100%;
							font-size:1rem;
							font-weight: 500;
							color: nth($gray, 3);
							overflow: hidden;
							span{
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						.iconsArea {
							display: grid;
//							border: solid red;
							height:100%;
							grid-template-rows: 30px 30px;
							grid-template-columns: 1fr 1fr;
							.clearIconArea {
								grid-column: 1 / span 1;
								grid-row: 1 / span 2;
							}
							.upIconArea {
								grid-column: 2 / span 1;
								grid-row: 1 / span 1;
							}
							.downIconArea {
								grid-column: 2 / span 1;
								grid-row: 2 / span 1;
							}
						}
					}
				}
			}
		}
		.playerArea {
			position: fixed;
			z-index: 1;
			left: 0;
			bottom: 0;
			height:68px;
			width: 100%;
			backdrop-filter: blur(8px); 
			box-shadow: 0 0 10px -1px black;
			padding: 0px 12px;

			display: grid;
			grid-template-columns: 60px 3fr 1.5fr;
			grid-template-rows: 1fr 0.82fr;
			column-gap: 1px;

			.progressBarArea {
				position: absolute;
				top:0;
				width:100%;
				height:2px;
				
				.progressBar{
					background:$tc;
					height:100%;
				}
			}
			.coverImgArea {
				grid-column: 1 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: center;
			}
			.titleArea {
				grid-column: 2 / span 1;
				grid-row: 1 / span 1;

				display: flex;
				align-items: flex-end;
				//justify-content: center;

				min-width: 0;
				span{
					background:-webkit-linear-gradient(45deg, nth($gray,2), $tc);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					white-space: nowrap;
					font-weight: 600;
					font-size: 1.1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					//color: nth($gray,1);
				}
			}
			.artistArea {
				grid-column: 2 / span 1;
				grid-row: 2 / span 1;

				white-space: nowrap;
				display: flex;
				align-items: flex-start;
				//justify-content: center;

				min-width: 0;
				span{
					font-weight: 400;
					font-size: 0.75rem;
					overflow: hidden;
					text-overflow: ellipsis;
					color: nth($gray,2);
				}
			}
			.buttonsArea {//border: solid red;
				grid-column: 3 / span 1;
				grid-row: 1 / span 2;

				display: flex;
				align-items: center;
				justify-content: space-between;
			}

		}
	
	}
}


.tag {
	display: flex;
	align-items: center;
	gap:3px;

	$tagSize: 22px;
	border-radius: $tagSize;
	height: $tagSize;
	
	box-shadow: inset 0 0 5px -2px nth($gray,4);
	
	padding: 0 7px 0 0 ;
	
	.image {
		width: $tagSize;
		height: $tagSize;
		border-radius: 50%;
		overflow: hidden;
		img{
			max-width: 100%;
			max-height: auto;
		}
		
	}
	
	.name {
		font-size: 0.8rem;
		letter-spacing: -1px;
		font-weight: 500;
		color: nth($gray,8);
		vertical-align: middle;
		white-space:nowrap;
	}
}

.content {
	width: 100%;
	height: 100vh;
	
	.page.active {
		display: block;
		animation: fadeIn $timeC;
	}
	.page {
		display: none;
		width:100%;
		height:100%;
		background: $pageBg;

		padding: 15px;
		overflow: auto;
	
		.scrollLock {
			overflow: hidden;
		}
		.songs{
			height:100%;height:100%;
			.songSearchArea {
				width: 100%;
				height:50px;
				.filterArea {
					&.inactive{
						transform: translateY(-550px);
						transition: transform $timeC;
					}
					transition: transform $timeC;
					position:absolute;
					z-index: 1;
					top:0;
					left:0;
					height:520px;
					width:100vw;
					border-radius: 0 0 20px 20px ;
					padding: 80px 20px 10px 20px;
					
					backdrop-filter: blur(20px) ;
					box-shadow: 0 5px 10px 0 $shadow;
					
					display:grid;
					grid-template-rows: 1fr 1fr 1fr 1fr;
					.wrapper {
						height:100%;
						display:grid;
						grid-template-rows: 40px 1fr;
					}
					.label{
						font-size:1.6rem;
						font-weight:600;
						position: relative;
						// left: -3px;
					//	text-shadow: 0 0 2px $shadow;
						color: $text;
					}
					.production .tag img {
						transform: scale(0.87);
					}
					.tagsArea{
						position:relative;
						top:-7px;
						overflow:auto;
						.tags{
							position: relative;
							.tagCtrl{
								&.inactive{
									.tag .name {
										opacity:40%;
									}
									filter: grayscale(90%); 
									transition: filter $timeB, opacity $timeB;
								}
								transition: filter $timeB, opacity $timeB;
							}
							
							.tag {	
								border-radius: 30px;
								height: 30px;

								.image {
									width: 30px;
									height: 30px;
									text-align: center;
								}
								.name {
									font-size: 0.9rem;
									letter-spacing: 0px;
									font-weight: 500;
									margin-right: 3px;
									
								}
							}
							display: flex;
							justify-content: space-around;
							width:100%;
							align-items: center;
							&.production {
								justify-content: flex-start;
								gap:6px;
							}
						}	
					}
					
				}
				.songSearchBar {
					z-index: 2;
					position: relative;
					height: 35px;
					margin-top:10px;
					
					overflow:hidden;
					width: 100%;
					border-radius: 20px;
					overflow:hidden;
					

					background-color: nth($gray,4);
					
					display:grid;
					grid-template-columns: 55px 1fr;
					gap:10px;
					.filterButtonArea {
						padding-left:8px;
						box-shadow:  0 0 10px 0 nth($gray, 7);
						width:100%;
						height:100%;
						border-radius: 20px 0 0 20px ;
					}
					.inputArea{
							
						.songSearchInput {
							z-index:1;
							font-size: 0.9rem;
							font-weight:400;
							align-items: center;
							justify-content: center;
							color: black;
							border: none;
							outline: none;
							background: none;
							width: 100%;
							height: 35px;
							margin: auto 0;
						}
					}
				}		
			}

			.songCardList {
				$songCardHeight: 80px;

				padding: 0 10px 100px 10px;
				width:100%;
				position: relative;
				min-height:100%;		
				
				.behind.loading{
					opacity:0;
					position: absolute;
					
				}
				.behind.loaded{
					opacity:100%;
					transition: opacity 0s 0.7s;
					position: absolute;
					right:20px;
					height:$songCardHeight;
				}
				
					.wrap:active {
						transform: scale(0.97);
						transition: transform $timeB;
						//animation: scale $timeC;
					}
				
					.wrap{
						transition: transform $timeB;
					}
				
				.songCard.loaded{
					opacity:1;
					transform: scale(1);
					transition: opacity $timeC, transform $timeC;
				}
				.songCard.loading{
					opacity:0;
					transform: scale(0.5);
				}
				.songCard.swiped {
					transform: translateX(-70px);
					transition: transform $timeC;
				}

				.songCard.pid1{
					background: $im;
				}
				.songCard.pid2{
					background: $cg;
				}
				.songCard.pid3{
					background: $ml;
				}
				.songCard.pid4{
					background: $sm;
				}
				.songCard.pid5{
					background: $sc;
				}
				.songCard {
					width:100%;
					// height: $songCardHeight;
					border-radius: 12px;

					padding: 7px 11px;
					margin: 13px 0 13px 0;

					box-shadow: 0px 0px 10px -3px $shadow;

					display: grid;
					grid-template-columns: 1fr 3.5fr;
					grid-template-rows: calc(#{$songCardHeight}*0.47) auto;
					column-gap: 10px;

					.coverImgArea {
						grid-column: 1 / span 1;
						grid-row: 1 / span 2;

						display: flex;
						align-items: center;
						justify-content: center;
						.coverImg {
							height:calc(#{$songCardHeight}*0.8);
							width: calc(#{$songCardHeight}*0.8);
							border-radius: 50%;
							overflow: hidden;
							box-shadow: inset 0 0 5px -1px $shadow;
							img{
								position: relative;
								z-index: -1;
								max-width: 100%;
								height: auto;
							}
						}
					}
					.title {
						display: flex;
						align-items: center;

						grid-column: 2 / span 1;
						grid-row: 1 / span 1;

						font-size: 1.5rem;
						font-weight: 900;
						color: $text;

						min-width: 0;
						span{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.tagsArea {
						display: flex;
						align-items: center;
						flex-wrap : wrap;
						gap: 4px;

						grid-column: 2 / span 1;
						grid-row: 2 / span 1;

						-ms-overflow-style: none; /* IE and Edge */
						scrollbar-width: none; /* Firefox */
					}
					.tagsArea::-webkit-scrollbar {
						display: none; /* Chrome, Safari, Opera*/
					}
				}
			}
		}
		
	}

	.playlistTab{
		height:calc(100%);
		display:flex;
		flex-direction: column;
		.setlistArea{
			flex-basis:50%;
			&.setlist{flex-basis:calc(100% - 150px);}
			&.playlist{flex-basis:70px;}
			transition: flex-basis $timeC ease-in-out;
			overflow:hidden;
			padding:0px;
			border-bottom: solid nth($gray, 3);
		}
		.playlistArea{
			flex-basis:50%;
			&.setlist{flex-basis:150px;}
			&.playlist{flex-basis:calc(100% - 70px);}
			transition: flex-basis $timeC ease-in-out;
			overflow:hidden;
			padding-top:5px;
			.ttt{
				height:calc(100% - 70px);
				padding: 0 0 100px 0;
				overflow:auto;
			}
			.contentArea {
				display: grid;
				padding-top:3px;
				justify-items:center;
				align-items:center;
				justify-content: space-around;
				grid-template-columns: repeat(auto-fill, 160px);
				grid-template-rows: repeat(auto-fill, 120px);
				row-gap: 25px;
				column-gap: 10px;
				.playlistCard {	
					position:relative;
					border-radius:20px;
					width:160px;
					height:120px;
					box-shadow: 0 2px 8px 0px $shadow;
					overflow:hidden;
					.cardModal {
						gap:10px;
						&.inactive {
							opacity:0%;
							max-height:0;
							transition: opacity $timeB, max-height 0s $timeB;
						}
						position:absolute;
						transition: opacity $timeB, max-height 0s;
						max-height:100%;
						z-index:1;
						width:100%;
						height:100%;
						opacity:100%;
						background-color: rgba(0,0,0,0.6);
					}
					.textArea {
						width:100%;
						height:100%;
						backdrop-filter: blur(2px) brightness(90%);
						border-radius: inherit;
						overflow: hidden;
						.text {
							width:100%;
							color:white;
							text-shadow:0 1px 6px black;
							.title{
								width:100%;
								font-size:1.1rem;
								font-weight:700;
								span{	
									display:block;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									padding:5px;
								}
							}
							.songCnt{
								font-size:0.8rem;
								font-weight:400;
							}
						}	
					}
				}	
			}
			
		}
		.labelArea {
			.label{
				position:relative;
				left:2px;
				font-size:1.8rem;
				font-weight:700;
				color:$text;
				margin-bottom:12px;
			}
		}
	}
}

.alert {
	text-align: center;
	color: $text2;
	font-style: italic;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
	transform:translateY(1%);
  }
  100% {
    opacity: 1;
	  transform:translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
	30%{
		transform: scale(0.9);
	}
  100% {
    transform: scale(1);
  }
}
