$pink : #ffedf0, #ffd2d7, #f4a2a3, #ed7e7f, #f9615e, #fe5245, #f14b45, #de413e;
$gray: #fbfbfb, #e5e5e5, #d4d4d4, #b0b0b0, #8f8f8f, #686868, #545454, #363636 !global;


$timeC : .4s; 
$timeB : .2s;
$timeA : .1s;
$timeL : 0.6s;

:root{
	--tc: #ffffff;
	--flc: #ffffff;
	--idc: #ffffff;
	
	--text: #545454;
	--text2: #545454 ;
	--pageBg: #fbfbfb;
	--tabBg: #ffffff;
	--lightShadow: #ffffff;
	--shadow: #8f8f8f;
	--darkShadow: #000000;
	--eleBg: #000000;
	
	--im:0;
	--cg:0;
	--ml:0;
	--sm:0;
	--sc:0;
}
$tc: var(--tc);
$flc: var(--flc);
$idc: var(--idc);

$text: var(--text);
$text2: var(--text2);
$pageBg: var(--pageBg);
$tabBg:  var(--tabBg);
$lightShadow: var(--lightShadow);
$shadow: var(--shadow);
$darkShadow: var(--darkShadow);
$eleBg: var(--eleBg);

$im: var(--im);
$cg: var(--cg);
$ml: var(--ml);
$sm: var(--sm);
$sc: var(--sc);


.main {
	width:100%;
	min-height:100%;
	
	.info{
		font-size:3.2rem;
		font-weight: 700;
		
		padding: 40px;
		p{
			margin-bottom: 20px;
		}
	}
}

.MuiTab-wrapper{
	color: $text;
}
.MuiBox-root{
	color: $text;
}
.MuiTab-root{
	padding: 6px;
}

.profile {
	width:100%;
	min-height:100%;
	
	
	font-size:3.2rem;
	font-weight: 700;
	color: var(--text);
	padding: 40px;
	p{
		margin-bottom: 20px;
	}	
}

.setting.page {
	padding: 15px 0px 60px 0px !important;
}

.statisticTab, .main{
	color: var(--text);
}

.wrap {
	width:100%;
	
	.graphArea {
		margin: 0 auto;
		max-width:50vh;
	}
}


.page {
	padding: 15px 15px 60px 15px !important;
}

.percentage {
	text-align: center;
	font-size: 0.9rem;
	font-weight:400;
}

.input{
	position: fixed;
	left:0;
	width:100vw;
	height:100vh;
.info {
	.dial {
		width:150px;
		height:150px;
	}
	width:100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	.container {
		box-sizing: content-box;
		width:100%;
		
		display: grid;
		grid-template-rows: 50px 200px 50px 50px 50px 50px 50px;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		.name {
			grid-column: 1 / span 2;
		}
		.height {
			grid-column: 1 / span 2;
		}
		.weight {
			grid-column: 1 / span 2;
		}
		.waist {
			grid-column: 1 / span 2;
		}
		.head {
			grid-column: 1 / span 2;
		}
		.crotch {
			grid-column: 1 / span 2;
		}
		.feet {
			grid-column: 1 / span 2;
		}
		Button{
			grid-column: 1 / span 2;
		}
		
	}
}
}

.setting {
	.layout {
		margin-top:50px;
			color: var(--text);
		
			//background: $eleBg;

	}
}

.program {
	.container {
		padding-right:12px;
		padding-bottom:250px;
		position: fixed;
		height:100vh;
		overflow:auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}	
}


.tableModal.inactive {
	transition: opacity $timeB, max-height 0s $timeB;
	opacity: 0;
	max-height: 0px;
}
.tableModal {
	z-index:20;
	position: fixed;
	width:90vw;
	height: 70vh;
	opacity: 1;
	transition: opacity $timeC, max-height 0s;
	max-height: 100%;
	top:15vh;
	left:5vw;
	background: $pageBg;
	
}

.modal.inactive {
	transition: opacity $timeB, max-height 0s $timeB;
	opacity: 0;
	max-height: 0px;
}
.modal {
	z-index:20;
	position: fixed;
	width:200px;
	height: 140px;
	opacity: 1;
	transition: opacity $timeC, max-height 0s;
	max-height: 100%;
	top:calc(50vh - 70px);
	left:calc(50vw - 100px);
	background: $pageBg;
	border-radius:20px;
	box-shadow: 0 0 7px 0px #000000;
	padding:10px 20px 10px 20px;
	display: grid;
	grid-template-rows: 1.2fr 0.8fr;
	
}

.bg.inactive {
	display: relative;
	opacity: 0;
	transition: opacity $timeB, max-height 0s $timeB;
	max-height: 0px;

}
.bg {
	
	z-index: 10;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;

	position: fixed;
	opacity:0.7;
	transition: opacity $timeC, max-height 0s;

	max-height: 100%;
}


.table {
}


*{
	overscroll-behavior:contain;
	-ms-overflow-sytle: none;
}
::-webkit-scrollbar {
	display:none;
}

body {
	background: $pageBg;
}

.App.off {
	*{
	 -o-transition-property: none !important; -moz-transition-property: none !important; -ms-transition-property: none !important; -webkit-transition-property: none !important; transition-property: none !important;-webkit-animation: none !important; -moz-animation: none !important; -o-animation: none !important; -ms-animation: none !important; animation: none !important;}
}

.alignCenter{
	display:flex;
	align-items: center;
	justify-content: center;
}


.nav {
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: -36px;
	
	.menu {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 2fr;
		transition: transform $timeC;
		height:100%;
		.tab {
			position:relative;

			// border: 2px solid #c4c4c4;
			border-radius: 12px 12px 0 0;
			border-bottom-style: none;
			height:100%;
			text-align: center;
			font-size: 0.9rem;
			font-weight:400;

			padding:5px;
			
			background: $tabBg;

			box-shadow: 0px -7px 10px -6px $shadow;

			transition: transform $timeA;

			.label {
				position:relative;
				top: -8px;
				color: $text;
			}
		}
		.tab.active {
			transform: translateY(-6px);
			transition: transform $timeA;
		}

		.music{
			grid-column: 1 / span 1;
		}
		.playlist{
			grid-column: 2 / span 1;
		}
		.search{
			grid-column: 3 / span 1;
		}
		.setting{
			grid-column: 4 / span 1;
		}
	}
	.menu.inactive {
		transform: translateY(85px);
		transition: transform $timeC;
	}

}
	
.content {
	width: 100%;
	height: 100vh;
	
	.page.active {
		display: block;
		animation: fadeIn $timeC;
	}
	.page {
		display: none;
		width:100%;
		height:100%;
		background: $pageBg;

		padding: 15px;
		overflow: auto;
		
	}

	.statisticTab{
		height:calc(100%);
		display:flex;
		flex-direction: column;
		.positionArea{
			flex-basis:50%;
			&.setlist{flex-basis:calc(100% - 70px);}
			&.playlist{flex-basis:70px;}
			transition: flex-basis $timeC ease-in-out;
			overflow:hidden;
			padding:0px;
			border-bottom: solid nth($gray, 3);
		}
		.recordArea{
			flex-basis:50%;
			&.setlist{flex-basis:70px;}
			&.playlist{flex-basis:calc(100% - 70px);}
			transition: flex-basis $timeC ease-in-out;
			overflow:hidden;
			padding:0px;
			border-bottom: solid nth($gray, 3);
			
		}
		.labelArea {
			.label{
				position:relative;
				left:2px;
				font-size:1.8rem;
				font-weight:700;
				color:$text;
				margin-bottom:12px;
			}
		}
	}
}

.alert {
	text-align: center;
	color: $text2;
	font-style: italic;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
	transform:translateY(1%);
  }
  100% {
    opacity: 1;
	  transform:translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
	30%{
		transform: scale(0.9);
	}
  100% {
    transform: scale(1);
  }
}
